/* primary text color #555555
  econdary text color #303030
  add pri text color #9DA4BD
  add sec text color rgba(157, 164, 189, 0.6)
  accent text color #FF6C00 */
:root {
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --addpri-text-color: #9da4bd;
  --addsec-text-color: rgba(157, 164, 189, 0.6);
  --accent-text-color: #ff6c00;
  --addaccent-text-color: #ffffff;
  --primary-background: #ffffff;
  --secondary-background: #000000;
  --third-background: #f7f7f7;
  --prices-background: rgba(9, 11, 19, 0.2);
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.noline {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ------------------------header------------------------ */
.header {
  background-color: #191c26;
}
.header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}
.nav,
.nav .list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-logo {
  margin-right: 130px;
}
.nav-link {
  color: var(--addaccent-text-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.nav-link:hover,
.nav-link:focus,
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-text-color);
}
.phone {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 43px;
}
.button {
  width: 160px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  color: var(--addaccent-text-color);
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--accent-text-color);
  border-radius: 25px;
  margin-right: 17px;
}
.button:hover,
.button:focus {
  background-color: var(--accent-text-color);
}
/* --------------------hero--------------------- */
.hero .container {
  display: flex;
}
.sidebar {
  width: 100px;
}
.hero .content {
  padding: 184px 526px 208px 100px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/heroBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-link {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.hero .small-text {
  color: var(--addsec-text-color);
  margin-bottom: 20px;
}
.line::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}
.hero .text {
  color: var(--addpri-text-color);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  color: var(--addaccent-text-color);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
/* -------------------shared-------------------- */
.small-text {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.title {
  color: var(--secondary-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.middle-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
.button.secondary {
  color: var(--secondary-text-color);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--addaccent-text-color);
}
/* ----------------------about----------------------- */
.about .container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}
.about .list {
  display: flex;
  gap: 30px;
}
.about .item {
  width: 270px;
}
.about .content {
  padding-left: 30px;
  padding-right: 100px;
}
.about .small-text,
.about .title,
.about .text {
  margin-bottom: 20px;
}
.about .middle-text {
  margin-bottom: 42px;
}

/* ----------------------prices----------------------- */
.prices {
  max-width: 1600px;
  background-image: url(../img/pricesBG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111319;
  display: block;
  margin: 0 auto;
}
.prices .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.prices .content {
  display: flex;
  gap: 30px;
  margin-bottom: 42px;
}
.prices .content:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices .content:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices .list {
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
  background-color: rgba(23, 26, 36, 0.2);
}
.prices .item {
  display: flex;
  align-items: baseline;
  gap: 12px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.prices .item:last-child {
  margin-bottom: 0;
}
.prices .item::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}
.prices .small-text {
  color: var(--addsec-text-color);
  margin-bottom: 20px;
}
.prices .title {
  color: var(--addaccent-text-color);
  margin-bottom: 44px;
}
.prices .text {
  color: var(--addpri-text-color);
  display: flex;
}
.prices .text:first-child {
  order: -1;
}
.prices .button {
  display: block;
  margin: 0 auto;
}
/* -------------------------advantages--------------------------- */
.advantages .container {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 70px;
  display: flex;
}
.advantages .list {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  flex-shrink: 0;
}
.advantages .item {
  padding: 20px 24px;
  background-color: var(--third-background);
  width: 170px;
  height: 133px;
  text-align: center;
}
.advantages .item:nth-child(odd) {
  margin-right: 30px;
}
.advantages .item:nth-child(even) {
  margin-top: 30px;
}
.adv-content {
  padding-top: 9px;
  padding-left: 130px;
  padding-right: 100px;
}
.adv-content .small-text,
.adv-content .title {
  margin-bottom: 20px;
}
.adv-content .title {
  width: 470px;
}
.title.transform {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 6px;
}
.title.transform::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: transparent;
  text-shadow: 0px -20px 0 #ff6c00;
}
.small-text.transform {
  text-align: center;
  text-transform: none;
}
/* -------------------------team--------------------------- */
.team {
  background-color: var(--third-background);
}
.team .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team .small-text {
  margin-bottom: 20px;
}
.team .title {
  margin-bottom: 44px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team .cards {
  width: calc((100% - 60px) / 3);
}
.team .socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pic {
  margin-bottom: 30px;
}
.name {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.39;
  text-align: center;
}
.text.name {
  margin-bottom: 8px;
}
.text-job {
  color: var(--accent-text-color);
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
.links:hover,
.links:focus {
  background-color: var(--accent-text-color);
}
.soc-item {
  width: 44px;
  height: 44px;
}
.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  color: rgba(48, 48, 48, 1);
}
.icon {
  fill: currentColor;
}
.soc-link:hover,
.cos-link:focus {
  color: #ff6c00;
}
/* -------------------------examples--------------------------- */
.examples .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.examples .small-text {
  margin-bottom: 44px;
}
.examples .list {
  display: flex;
  gap: 30px;
}
.examples .item {
  width: calc((100% - 90px) / 4);
}
/* -------------------------booking&contacts--------------------------- */
.last-sec {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../img/contactsBG.png);
  background-repeat: no-repeat;
  background-size: 785px;
  background-position: right;
  background-color: #191c26;
  padding-top: 130px;
  padding-bottom: 120px;
}
.last-sec .container {
  display: flex;
}
.booking {
  width: 600px;
  padding-right: 30px;
}
.contacts {
  padding-left: 100px;
}
.booking .title,
.contacts .title {
  color: var(--addaccent-text-color);
}
.booking .title {
  margin-bottom: 44px;
}
.contacts .title {
  margin-bottom: 40px;
}
.form {
  display: flex;
  flex-wrap: wrap;
}
.form .small-text {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid;
}
.area {
  width: 100%;
  resize: none;
}
.clname,
.clphone {
  padding: 0;
  width: 270px;
}
.clname {
  margin-right: 30px;
}
.form .small-text:hover {
  border-color: #ffffff;
}

:hover::placeholder,
:focus::placeholder {
  color: #ffffff;
}
.btn {
  display: block;
}
.contacts .text {
  color: var(--addpri-text-color);
  font-style: normal;
}
.bold {
  font-weight: 700;
}
.contacts .small-text {
  color: var(--addaccent-text-color);
}
.contacts .item {
  margin-bottom: 20px;
}
.contacts .list {
  margin-bottom: 70px;
}
.contacts .small-text {
  margin-bottom: 20px;
}
/* -------------------------footer--------------------------- */
.footer .container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
}
.footer .list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.footer .small-text {
  color: var(--addpri-text-color);
  text-transform: none;
}
.footer-link {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}
